<h1>Welcome to the Nested Forms Lab!</h1>

let's navigate to the '/new'

<form class="" action="/show" method="post">
  <p>Pirate Name: <input type="text" name="pirate[name]" value=""></p>
  <p>Pirate Weight: <input type="text" name="pirate[weight]" value=""></p>
  <p>Pirate Height: <input type="text" name="pirate[height]" value=""></p>
  <p></p>
  <p></p>
</form>
